* {
    margin: 0;
    padding: 0;
    border-style: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
}

nav{
    background-color: var(--bs-dark);  
    color: rgb(235, 235, 235);
}

.container-fluid {
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
}

.container-fluid a{ 
    font-size: 30px; 
    color: rgb(235, 235, 235);
    padding: 8px;
}

.logo{
    margin-right: 10px;
}

.banner {
    position: relative;
    height: 30rem;
    display: flex;
    align-items: center;
}

.banner img {
    position: absolute;
    width: 15%;
    z-index: 1;
    border-radius: 50%;
    margin-left: 2rem;
    margin-top: 30rem;
}

.navbar-brand span{
    font-size: 20px;
    color: rgb(235, 235, 235);
}

.loginButton {
    font-size: 12px;
    font-weight: 700;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 10px;
    margin: 0 0 0 15px;
    background-color: transparent;
    color:rgb(235, 235, 235);
    text-transform: uppercase;
    padding: 5px 15px;
}

.loginButton:hover {
    color: #fff;
    border: 2px solid #fff;
}

#navbarText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotationMark {
    font-size: 30px;
    color: #ffc3cb;
}

.quote {
    color: #777;
}

.experience {
    padding: 2rem 0;
}

.profileDesc {
    margin-top: 7rem; 
    padding: 0.5rem 5rem;
}

.experienceTitle {
    padding: 0.5rem 5rem;
    background-color: #777;
    color:rgb(235, 235, 235);
    text-transform: uppercase;
}

.experienceDesc {
    padding: 0.5rem 5rem;
    background-color: #ffeef0;
}

.experienceDesc2 {
    padding: 0.5rem 5rem;
    background-color: #ffdde0;
}

.educationTitle {
    padding: 0.5rem 5rem;
    background-color: #777;
    color:rgb(235, 235, 235);
    text-transform: uppercase;
}

.educationDesc {
    padding: 0.5rem 5rem;
    background-color: #ffeef0;
}

.educationDesc2 {
    padding: 0.5rem 5rem;
    background-color: #ffdde0;
}